---
layout: default
---
{% include JB/setup %}

<p>
<img src="assets/images/logos/logo_text_transparent.png" style="width: 40%; padding: 0 10px 10px 0; " class="lf">
OSiRIS is a pilot project funded by the NSF to evaluate a software-defined storage infrastructure for our primary Michigan research universities. OSiRIS will combine a number of innovative concepts to provide a distributed, multi-institutional storage infrastructure that will allow researchers at any of our three campuses to read, write, manage and share their data directly from their computing facility locations.
</p>
<p>
Our goal is to provide transparent, high-performance access to the same storage infrastructure from well-connected locations on any of our campuses. We intend to enable this via a combination of network discovery, monitoring and management tools and through the creative use of CEPH features.  
</p>
<p>
By providing a single data infrastructure that supports computational access on the data “in-place”, we can meet many of the data-intensive and collaboration challenges faced by our research communities and enable these communities to easily undertake research collaborations beyond the border of their own Universities.
</p>

{% for post in paginator.posts %}
<!-- <div class="article"> -->
    <div class="well">
        <h4><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h4>
        <!-- <div class="content"> -->
            {{ post.excerpt }}
        <!-- </div> -->
    </div>
<!-- </div> -->
{% endfor %}

<ul class="pagination">
    <li><a href="{{ BASE_PATH }}{{ site.archive_path }}">Archive</a></li>
</ul>

