{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        OSiRIS
      {% endif %}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ RESOURCE_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ CSS_PATH }}/style.css" rel="stylesheet"> 
  
    <!--[if lt IE 9]>
      <script src="{{ RESOURCE_PATH }}/respond/Respond.min.js"></script>
    <![endif]-->

    <link href="{{ BASE_PATH }}{{ site.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">


    <link rel="apple-touch-icon" sizes="180x180" href="{{ BASE_PATH }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ BASE_PATH }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ BASE_PATH }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ BASE_PATH }}/manifest.json">
    <link rel="mask-icon" href="{{ BASE_PATH }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages | sort:"order" %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <p class="navbar-text navbar-right"><a href="https://github.com/MI-OSiRIS">GitHub</a></p>
        </div>
      </div>
    </nav>


    
    <div class="container">
    	<div class="row">
    		<div class="col-md-2 text-center">
          <div class="well sb">
    		  {% include sidebar.html %}
        </div>
        
    	</div>
    <div class="col-md-9">
    {% if page.subnavgroup != null %}
      <nav class="navbar" role="navigation">
      <div class="">
          <ul class="nav nav-tabs">
            {% if page.group == 'navigation' %}
              <li class="active"> <a href="/{{ page.subnavgroup }}/index.html" class="active">Index</a></li>
            {% else %}
              <li> <a href="/{{ page.subnavgroup }}/index.html">Index</a></li>
            {% endif %}
            {% assign pages_list = site.pages | sort:"order" %}
            {% assign group = page.subnavgroup %}
            {% include JB/pages_list %}
          </ul>
      </div>  
    </nav>
{% endif %}
      {% if page.title %}
        <div class="page-header"> 
          <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
        </div>
      {% endif %}
      <div>
        {{ content }}
      </div>
     </div>
 </div>
      <hr>
      <footer>
        <p class="small text-muted">
          &copy; {{ site.time | date: '%Y' }} {{ site.author.name }} --

    		  This material is based upon work supported by the National Science Foundation under Grant Number <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1541335&HistoricalAwards=false">1541335</a>
        </p>
        <p class="small text-muted">
          Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
        </p>
         <p class="small text-muted">
          Contact:  <a href="mailto:osiris-help@umich.edu">osiris-help@umich.edu</a>
        </p>
      </footer>
    </div>
    <script src="{{ RESOURCE_PATH }}/jquery/jquery.min.js"></script>
    <script src="{{ RESOURCE_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    {% include JB/analytics %}
  </body>
</html>
