{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ RESOURCE_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ CSS_PATH }}/style.css" rel="stylesheet"> 
  
    <!--[if lt IE 9]>
      <script src="{{ RESOURCE_PATH }}/respond/Respond.min.js"></script>
    <![endif]-->

    <link href="{{ BASE_PATH }}{{ site.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ BASE_PATH }}/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ BASE_PATH }}/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ BASE_PATH }}/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ BASE_PATH }}/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ BASE_PATH }}/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ BASE_PATH }}/apple-touch-icon-120x120.png">
    <link rel="icon" type="image/png" href="{{ BASE_PATH }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ BASE_PATH }}/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ BASE_PATH }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ BASE_PATH }}/manifest.json">
    <link rel="mask-icon" href="{{ BASE_PATH }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages | sort:"order" %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <p class="navbar-text navbar-right"><a href="https://github.com/MI-OSiRIS">GitHub</a></p>
        </div>
      </div>
    </nav>

    <div class="container">
    	<div class="row">
    		<div class="col-md-2 text-center">
          <div class="well sb">
    		  {% include sidebar.html %}
        </div>
         {% if page.sidebar %}
          <div class="well sb">
              {% include {{ page.sidebar }} %}
          </div>
        {% endif %}
    	</div>
    <div class="col-md-9">
      <div class="page-header">
        <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
      </div>
      <div>
        {{ content }}
      </div>
     </div>
 </div>
      <hr>
      <footer>
        <p>
          &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          <span class="pull-right text-muted">
    		<a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1541335&HistoricalAwards=false">Supported by the NSF</a>
          </span>
        </p>
      </footer>
    </div>
    <script src="{{ RESOURCE_PATH }}/jquery/jquery.min.js"></script>
    <script src="{{ RESOURCE_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    {% include JB/analytics %}
  </body>
</html>
